<app-navigation-menu></app-navigation-menu>
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-sm-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
              </ul>
        </div>
        <div class="col-lg-10 col-sm-12">
            <div class="card border-light mb-2">
                <div class="row g-0">
                    <div class="col-md-7">
                        <img [src]="image" class="card-img-top w-100" style="height: 40rem;"alt="...">
                    </div>
                    <div class="col-md-5">
                        <div class="card-body ms-5">
                            <h5 class="card-title fw-bolder">Nombre del producto</h5>
                            <br>
                            <p class="card-text fw-bold">Colors</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <br>
                            <p class="card-text fw-bold">Size</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <br>
                            <p class="card-text fw-bold">Price</p>
                            <p class="card-text"><small class="text-muted">25.5 Bs</small></p>
                            <br>
                            <button type="button" class="btn btn-dark">Agregar al carrito</button>
                            <hr>
                            <p class="card-text fw-bold">Description</p>
                            <p class="card-text"><small class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>